
cmake-build-debug/*
.idea/*
cmake-build-debug/CMakeFiles/ProgBeadando.dir/CXX.includecache
cmake-build-debug/CMakeFiles/ProgBeadando.dir/CXX.includecache
cmake-build-debug/CMakeFiles/ProgBeadando.dir/depend.make
cmake-build-debug/CMakeFiles/ProgBeadando.dir/main.cpp.obj
cmake-build-debug/CMakeFiles/ProgBeadando.dir/objects.a
cmake-build-debug/ProgBeadando.exe
.idea/workspace.xml
